<p id="notice"><%= notice %></p>

<h1>Your Pragmatic Catalog</h1>

<% cache @products do %>
  <% @products.each do |product|%>
    <% cache product do %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even')%>">

        <td>
          <%=image_tag(product.image_url, class:'list_image')%>
        </td>

        <td class = "list_description">
          <dl>
            <dt><%=product.title%></dt>
            <dd><%=truncate(strip_tags(product.description), length: 80) %></dd>
          </dl>
        </td>

        <td class = "list_actions">
          <%= link_to 'Show', product %><br/>
          <%= link_to 'Edit', product %><br/>
          <%= link_to 'Destroy', product, method: :delete,
          data: {confirm: 'Are you sure?'} %><br/>
        </td>
      </tr>
    <%end%>
  <%end%>
<%end%>  

<br />

<%= link_to 'New Product', new_product_path %>
